# Go toolchain
coverage.out
coverage.html
*.test
*.cpuprofile
*.heapprofile

# Helm dependency cache and history
charts/karpenter-core/charts
charts/karpenter-core/chart.lock

# Common in OSs and IDEs
.idea
.vscode
.DS_Store
