name: InstallPrometheus
description: 'Installs prometheus'
runs:
  using: "composite"
  steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - name: add prometheus repo
      shell: bash
      run: |
        helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
    - name: create monitoring namespace
      shell: bash
      run: |
        kubectl create ns monitoring || true
        kubectl label ns monitoring scrape=enabled --overwrite=true
    - name: install prometheus
      shell: bash
      run: |
        helm upgrade --install prometheus prometheus-community/kube-prometheus-stack \
        -n monitoring \
        -f ./.github/actions/install-prometheus/valuesv3.yaml \
        --set "kubelet.serviceMonitor.cAdvisorRelabelings[0].targetLabel=metrics_path" \
        --set "kubelet.serviceMonitor.cAdvisorRelabelings[0].action=replace" \
        --set "kubelet.serviceMonitor.cAdvisorRelabelings[0].sourceLabels[0]=__metrics_path__" \
        --wait