name: presubmit
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
jobs:
  presubmit:
    runs-on: ubuntu-latest
    strategy:
        matrix:
          k8sVersion: ["1.21.x", "1.22.x", "1.23.x", "1.24.x", "1.25.x", "1.26.x"]
    env:
      K8S_VERSION: ${{ matrix.k8sVersion }}
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/install-deps
    - run: make presubmit
    - uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: coverage.out
